<template name="addteam">
  {{> navbar}} 
  {{> teamsidebar}}
  {{> teamdetails}}
</template>

<template name="teamdetails">
  <div id="page-wrapper">
    <div class="row">
      <h1 class="page-header">{{{team.name}}}</h1>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <p>Team Information will appear here</p>
      </div>
    </div>
  </div>
</template>

<template name="teamsidebar">
  <div role="navigation" class="navbar-default sidebar">
    {{! sidebar for clubs here }}
  </div>
</template>

<template name="editteam">
  <div role="navigation" class="navbar-default sidebar">
    {{! edit user profile here }}
  </div>
</template>