<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <title>Home | SpielWinkel.com</title>
  <link href="css/thumbnail-gallery.css" rel="stylesheet">
  <link href="css/start.css" rel="stylesheet">
  <link href="css/sb-admin-2.css" rel="stylesheet">
  <link href="css/morris.css" rel="stylesheet">
  <link href="css/metisMenu.min.css" rel="stylesheet">
  <link href="css/jquery.dataTables.min.css" rel="stylesheet">
  <link href="css/fontawesome.min.css" rel="stylesheet">
  <link href="css/fileinput.min.css" rel="stylesheet">
  <link href="css/dataTables.responsive.css" rel="stylesheet">
  <link href="css/dataTables.bootstrap.css" rel="stylesheet">
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="css/style.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/css/bootstrap-select.min.css">
    
    
    
  <!-- ELEMENTS -->
  <link rel="stylesheet" type="text/css" href="css/profile/elements/badges.css">
  <link rel="stylesheet" type="text/css" href="css/profile/elements/buttons.css">
  <link rel="stylesheet" type="text/css" href="css/profile/elements/content-box.css">
  <link rel="stylesheet" type="text/css" href="css/profile/elements/dashboard-box.css">
  <link rel="stylesheet" type="text/css" href="css/profile/elements/forms.css">
  <link rel="stylesheet" type="text/css" href="css/profile/elements/images.css">
  <link rel="stylesheet" type="text/css" href="css/profile/elements/info-box.css">
  <link rel="stylesheet" type="text/css" href="css/profile/elements/invoice.css">
  <link rel="stylesheet" type="text/css" href="css/profile/elements/loading-indicators.css">
  <link rel="stylesheet" type="text/css" href="css/profile/elements/menus.css">
  <link rel="stylesheet" type="text/css" href="css/profile/elements/panel-box.css">
  <link rel="stylesheet" type="text/css" href="css/profile/elements/response-messages.css">
  <link rel="stylesheet" type="text/css" href="css/profile/elements/responsive-tables.css">
  <link rel="stylesheet" type="text/css" href="css/profile/elements/ribbon.css">
  <link rel="stylesheet" type="text/css" href="css/profile/elements/social-box.css">
  <link rel="stylesheet" type="text/css" href="css/profile/elements/tables.css">
  <link rel="stylesheet" type="text/css" href="css/profile/elements/tile-box.css">
  <link rel="stylesheet" type="text/css" href="css/profile/elements/timeline.css">
  <link href="css/profile/images.css" rel="stylesheet">
  <!-- Components theme -->
  <link rel="stylesheet" type="text/css" href="css/profile/assets/themes/components/default.css"> </head>

<body>
  <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.js"></script>
  <script src="js/custom.js"></script>
    <!-- Latest compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/bootstrap-select.min.js"></script>

<!-- (Optional) Latest compiled and minified JavaScript translation files -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/i18n/defaults-*.min.js"></script>
    

</body>
<template name="home"> 
  {{> navbar}} 
  {{> sidebar}} 
  {{> eventLists}} 
{{> footer}}     
</template>

<template name="navbar">
  <nav role="navigation" class="navbar navbar-default navbar-static-top">
    <div class="navbar-header"> <img src="img/spielwinkel_logo.svg" class="navbar-brand" />
      <button type="button" data-toggle="collapse" data-target=".navbar-collapse" class="navbar-toggle"><span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
    </div>
    <div class="col-sm-5 col-md-5">
      <form role="search" class="navbar-form">
        <div class="input-group">
          <input type="text" placeholder="Direktsuche (Verein, Stadt, Datum etc.)" name="search" class="form-control search-bar" />
          <div class="input-group-btn">
            <button type="submit" class="btn-default"><i aria-hidden="true" class="fa fa-search"></i></button>
          </div>
        </div>
      </form>
    </div>
    <ul class="nav navbar-top-links navbar-right in"> {{#if currentUser}}
      <li> <a href="/home" role="button" class="btn btn-registrieren">Home</a> </li>
      <li> <a href="/club" role="button" class="btn btn-registrieren">Create Club</a> </li>
      <li> {{> logoutButton}} </li> {{else}}
      <li> {{> login}} </li> {{/if}} </ul>
  </nav>
</template>

<template name="sidebar">
  <div role="navigation" class="navbar-default sidebar">
    <div class="sidebar-nav navbar-collapse">
      <ul id="side-menu" class="nav in">
        <li class="sidebar-search">
          <div class="input-group custom-search-form">
            <h3 class="lg-pad">Filter</h3> </div>
        </li>
        <li><a href="#">City<span class="fa arrow"></span></a>
          <ul class="nav nav-second-level">
            <!--
            {{#each city in cities}}
              
            {{/each}}
-->
          </ul>
        </li>
        <li><a href="#">Sports<span class="fa arrow"></span></a>
          <ul class="nav nav-second-level">
            <!--
            {{#each sport in sports}}
              
            {{/each}}
-->
          </ul>
        </li>
        <li><a href="#">Division<span class="fa arrow"></span></a>
          <ul class="nav nav-second-level">
            <!--
            {{#each division in divisions}}

            {{/each}}
-->
          </ul>
        </li>
      </ul>
    </div>
  </div>
</template>

<template name="eventLists">
  <div id="page-wrapper">
    <div class="row">
      <h1 class="page-header">Bevorstehende Sportbegegnungen</h1>
      <div class="panel panel-default">
        <div class="panel-body">
          <div id="dataTables-example_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
            <div class="col-sm-12">
              <table id="dataTables-example" role="grid" aria-describedby="dataTables-example_info" width="100%" style="width: 100%" class="table table-striped table-bordered table-hover dataTable no-footer dtr-inline collapsed">
                <thead class="thead-bg-color">
                  <tr role="row">
                    <th class="sorting_asc">Sport Type</th>
                    <th class="sorting">Date</th>
                    <th class="sorting">Time</th>
                    <th class="sorting">Home Team</th>
                    <th class="sorting">Guest Team</th>
                    <th class="sorting">Division</th>
                    <th class="sorting">City</th>
                  </tr>
                </thead>
                <tbody> {{#each event in events}}}
                  <tr class="gradeX">
                    <td class="sorting_1">{{{event.sportType}}}</td>
                    <td>{{{event.date}}}</td>
                    <td>{{{event.time}}}</td>
                    <td>{{{event.homeTeam}}}</td>
                    <td>{{{event.awayTeam}}}</td>
                    <td>{{{event.division}}}</td>
                    <td>{{{event.city}}}</td>
                  </tr> {{/each}} </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<template name="footer">
   <footer class="footer">
       <div class="container">
      <div>
          <ul class="nav navbar-nav navbar-left">
              <li><a>© 2017, spielwinkel, All rights reserved!</a></li>
          </ul>
      </div>
      <div>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/privacy" role="button" target="_blank">Datenschutz</a></li>
            <li><a href="/imprint" target="_blank">Impressum</a></li>
          </ul>
      </div> 
    </div>
</footer>

</template>