<template name="clubprofile"> 
  {{> usernavbar}}
  {{> clubsidebar}} 
  {{> editclubprofile}} 

</template>

<template name="clubprofiledetails">
  <div id="page-wrapper">
    <div class="row">
      <h1 class="page-header">Clubs<a href="#" class="btn btn-primary btn-header float-right">Create New Club</a></h1>
      <div class="clearfix"></div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <p>User profile information will exist here.</p>
      </div>
    </div>
  </div>
</template>

<template name="clubsidebar">
  <div role="navigation" class="navbar-default sidebar">
    <div class="form-group sidebar-search"> <img id="imgLogo" class="img-rounded img-responsive" src="http://placehold.it/350x350?text=add+team+logo" />
      <input name="Team Logo" id="teamLogo" type="file" class="hidden" />
      <label for="Team Logo"><small class="grey">Recommended size 350x350</small></label>
    </div>
  </div>
</template>

<template name="editclubprofile">
  <div id="page-wrapper">
    <div class="row">
      <h1 class="page-header">add Team</h1> </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="row mailbox-wrapper">
          <div class="col-sm-12">
            <div class="row">
              <div class="example-box-wrapper">
                <div class="tab-content">
                  <div class="tab-pane pad0A fade active in" id="tab-example-4">
                    <div class="content-box">
                      <form class="form-horizontal pad15L pad15R bordered-row">
                        <div class="form-group remove-border">
                          <label for="Club Name" class="col-sm-3 control-label choose-label">Club Name:</label>
                          <div class="col-sm-6">
                              <p name="Club Name" type="text" id="clubName">Club I choose before</p></div>
                        </div>
                        <div class="form-group">
                          <label for="Sport Type" class="col-sm-3 control-label choose-label">Sport Department:</label>
                          <div class="col-sm-6">
                            <p name="Club Name" type="text" id="clubName">sport department I choose before</p></div>
                        </div>
                       
                        <div class="form-group">
                          <label for="Adress" class="col-sm-3 control-label choose-label">Sports Ground:</label>
                          <div class="col-sm-6">
                            <p  type="text" id="street">long street</p>
                            <p  type="text" id="streetNumber">101</p>
                            <p  type="text" id="postalCode">49329</p>
                            <p  type="text" id="city">cape town</p>
                            <p  type="text" id="state">bavaria</p>
                        </div>
                        </div>   
                          
                          <div class="form-group">
                          <label for="Website" class="col-sm-3 control-label choose-label">Website:</label>
                          <div class="col-sm-6">
                            <p name="Club Name" type="text" id="clubName">wwww.example.de</p></div>
                        </div>
                          
                        <div class="form-group">
                          <label for="Division" class="col-sm-3 control-label">Playgroup:</label>
                          <div class="col-sm-6">
                            <select name="Divisopn" type="text" class="form-control" id="division" placeholder="playgroup">
                                <option>Masters</option>
                                <option>Ladies</option>
                                <option>Youth</option>
                                <option>Girls</option>
                                <option>Schüler</option>
                                <option>Schülerinnen</option>
                                
                              </select>    
                                
                                </div>
                        </div>  
                          
                        <div class="form-group">
                          <label for="Division" class="col-sm-3 control-label">Division:</label>
                          <div class="col-sm-6">
                            <input name="Divisopn" type="text" class="form-control" id="division" placeholder="Division"> </div>
                        </div>
                          
                        <div class="form-group">
                          <label for="Contact Number" class="col-sm-3 control-label">Contact Number:</label>
                          <div class="col-sm-6">
                            <input name="Contact Number" id="clubTel" type="text" class="form-control" placeholder="Telephone"> </div>
                        </div>
                       
                        <div class="form-group">
                          <label for="About me" class="col-sm-3 control-label">About us:</label>
                          <div class="col-sm-6">
                            <textarea name="aboutUs" id="aboutUs" rows="3" class="form-control textarea-autosize"></textarea>
                          </div>
                        </div>
                        <div class="form-group">
                          <label for="Club Logo" class="col-sm-3 control-label">Team photo:</label>
                          <div class="col-sm-6">
                            <div class="fileinput fileinput-new" data-provides="fileinput">
                              <div class="fileinput-preview thumbnail" data-trigger="fileinput" style="width: 200px; height: 150px;"></div>
                              <div><small class="grey">Recommended size 350x350</small></div>
                              <div> <span class="btn btn-default btn-file">
                                        
                                        <span class="fileinput-new">Select Logo</span> <span class="fileinput-exists">Change</span>
                                <input type="file" name="..."> </span> <a href="#" class="btn btn-default fileinput-exists" data-dismiss="fileinput">Remove</a> </div>
                            </div>
                          </div>
                        </div>
                      </form>
                      <div class="button-pane mrg20T">
                        <button class="btn btn-link font-gray-dark">Back</button>  
                        <button class="btn btn-info">Publish</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--
  <div id="page-wrapper">
    <div class="row">
      <h1 class="page-header">Clubs</h1>
      
      <div class="clearfix"></div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <label for="Club Name">Club Name</label>
          <input name="Club Name" id="clubName" type="text" class="form-control" placeholder="Club Name"/>
        </div>
        <div class="form-group">
          <label for="Sport Type">Sport Type</label>
          <input name="Sport Type" id="sportType" type="text" class="form-control" placeholder="Sport Type"/>
        </div>
        <div class="form-group">
          <label for="Division">Division</label>
          <input name="Division" id="division" type="text" class="form-control" placeholder="Division"/>
        </div>
        <div class="form-group">
          <label for="Address">Sports Ground</label>
          <input name="Address" id="addressNumber" type="text" class="form-control" placeholder="Street Number"/>
          <input name="Address" id="addressStreet" type="text" class="form-control" placeholder="Street"/>
          <input name="Address" id="addressPostCode" type="text" class="form-control" placeholder="Postal Code"/>
          <input name="Address" id="city" type="text" class="form-control" placeholder="City"/>
          <input name="Address" id="state" type="text" class="form-control" placeholder="State"/>
        </div>
        <div class="form-group">
          <label for="Contact Number">Contact Number</label>
          <input name="Contact Number" id="clubTel" type="text" class="form-control" placeholder="Telephone"/>
        </div>
        <div class="form-group">
          <label for="Website">Website</label>
          <input name="Website" id="url" type="text" class="form-control" placeholder="http://www.yourwebsite.com"/>
        </div>
      </div>
      <div class="col-sm-6">
-->
  <!--
        <div class="form-group">
          <img id="imgLogo" class="img-rounded img-responsive" src="http://placehold.it/350x350?text=add+team+logo"/>
          <input name="Team Logo" id="teamLogo" type="file" class="hidden"/>
          <label for="Team Logo"><small class="grey">Recommended size 350x350</small></label>
        </div>
-->
  <!--
      </div>
    </div>
  </div>
-->
</template>