<template name="createclub"> 
  {{> usernavbar}}
  {{> clubsidebar}} 
  {{> createclubprofile}} 

</template>





<template name="createclubprofile">
  <div id="page-wrapper">
    <div class="row">
      <h1 class="page-header">Create Club</h1> </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="row mailbox-wrapper">
          <div class="col-sm-12">
            <div class="row">
              <div class="example-box-wrapper">
                <div class="tab-content">
                  <div class="tab-pane pad0A fade active in" id="tab-example-4">
                    <div class="content-box">
                      <form class="form-horizontal pad15L pad15R bordered-row">
                        <div class="form-group remove-border">
                          <label for="Club Name" class="col-sm-3 control-label">Club Name:</label>
                          <div class="col-sm-6">
                            <input name="Club Name" type="text" class="form-control" id="clubName" placeholder="Club Name"> </div>
                        </div>
                        <div class="form-group">
                          <label for="Sport Type" class="col-sm-3 control-label">Sport department:</label>
                          <div class="col-sm-6">
                            <input name="Sport Type" type="text" class="form-control" id="sportType" placeholder="Sport Type"> </div>
                        </div>
                        <div class="form-group">
                          <label for="Adress" class="col-sm-3 control-label">Sports Ground:</label>
                          <div class="col-sm-6">
                            <input name="Address" id="addressStreet" type="text" class="form-control" placeholder="Street">
                            <input name="Address" id="addressNumber" type="text" class="form-control" placeholder="Street Number">
                            <input name="Address" id="addressPostCode" type="text" class="form-control" placeholder="Postal Code">
                            <input name="Address" id="city" type="text" class="form-control" placeholder="City">
                            <input name="Address" id="state" type="text" class="form-control" placeholder="State"> </div>
                        </div>
                        <div class="form-group">
                          <label for="Contact Number" class="col-sm-3 control-label">Contact Number:</label>
                          <div class="col-sm-6">
                            <input name="Contact Number" id="clubTel" type="text" class="form-control" placeholder="Telephone"> </div>
                        </div>
                        <div class="form-group">
                          <label for="Website" class="col-sm-3 control-label">Website:</label>
                          <div class="col-sm-6">
                            <input name="Website" id="url" type="text" class="form-control" placeholder="Website..."> </div>
                        </div>
                        <div class="form-group">
                          <label for="About me" class="col-sm-3 control-label">About us:</label>
                          <div class="col-sm-6">
                            <textarea name="aboutUs" id="aboutUs" rows="3" class="form-control textarea-autosize"></textarea>
                          </div>
                        </div>
                        <div class="form-group">
                          <label for="Club Logo" class="col-sm-3 control-label">Club Logo:</label>
                          <div class="col-sm-6">
                            <div class="fileinput fileinput-new" data-provides="fileinput">
                              <div class="fileinput-preview thumbnail" data-trigger="fileinput" style="width: 200px; height: 150px;"></div>
                              <div><small class="grey">Recommended size 350x350</small></div>
                              <div> <span class="btn btn-default btn-file">
                                        
                                        <span class="fileinput-new">Select Logo</span> <span class="fileinput-exists">Change</span>
                                <input type="file" name="..."> </span> <a href="#" class="btn btn-default fileinput-exists" data-dismiss="fileinput">Remove</a> </div>
                            </div>
                          </div>
                        </div>
                      </form>
                      <div class="button-pane mrg20T">
                          <button class="btn btn-link font-gray-dark">Back</button>
                          <button class="btn btn-info"><a href="/add-team">Save</a></button>
                        
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</template>