<template name="chooseclub">

  {{> usernavbar}} 
  {{> clubsidebar}} 
  {{> chooseclubprofile}}
  
</template>



<template name="clubsidebar">
    
  <div role="navigation" class="navbar-default sidebar">
      
        <div class="form-group sidebar-search">
          <img id="imgLogo" class="img-rounded img-responsive" src="http://placehold.it/350x350?text=add+team+logo"/>
          <input name="Team Logo" id="teamLogo" type="file" class="hidden"/>
          <label for="Team Logo"><small class="grey">Recommended size 350x350</small></label>
        </div>

    
  </div>
</template>

<template name="chooseclubprofile">
    
    <div id="page-wrapper">
    <div class="row">
      <h1 class="page-header">Choose Team</h1>
    </div>
    <div class="row">
      <div class="col-sm-12">
          
              
          
          
          <div class="row mailbox-wrapper">

<div class="col-sm-12">

    <div class="row">
        



    <div class="example-box-wrapper">
        
        <div class="tab-content">
            
            <div class="tab-pane pad0A fade active in" id="tab-example-4">
                <div class="content-box">
                    <form class="form-horizontal pad15L pad15R bordered-row">
                        <div class="form-group remove-border">
                            <label for="Club Name" class="col-sm-3 control-label">Choose Club:</label>
                            <div class="col-sm-6">
                                <select class="selectpicker" data-show-subtext="true" data-live-search="true">
                                    <option data-subtext="Rep California">Tom Foolery</option>
                                    <option data-subtext="Sen California">Bill Gordon</option>
                                    <option data-subtext="Sen Massacusetts">Elizabeth Warren</option>
                                    <option data-subtext="Rep Alabama">Mario Flores</option>
                                    <option data-subtext="Rep Alaska">Don Young</option>
                                    <option data-subtext="Rep California" disabled="disabled">Marvin Martinez</option>
                                </select>
                            </div>
                        </div>
                    
                    </form>
                    <div class="button-pane mrg20T">
                        <button class="btn btn-info">Save</button>
                        <button class="btn btn-link font-gray-dark">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
        </div>

</div>
          
          
          
      </div>
    </div>
  </div>

</template>