<template name="clubprofile">

  {{> usernavbar}} 
  {{> clubsidebar2}} 
  {{> publicclubprofile}}
  {{> footer}}     
  
</template>



<template name="clubsidebar2">
    
  <div role="navigation" class="navbar-default sidebar">
      <div class="sidebar-nav navbar-collapse">
        <ul id="side-menu" class="nav in">
          <li class="sidebar-search">
            <div class="input-group custom-search-form"><img src="img/fc_bayern_logo.png" class="teamLogo"></div>
          </li>
          <li><a href="/events-create" class="profil-sidebar"> <i aria-hidden="true" class="fa fa-upload"> </i><span class="hidden-xs hidden-sm">Begegnungen hochladen</span></a></li>
          <li><a href="#" class="profil-sidebar"> <i aria-hidden="true" class="fa fa-pencil"> </i><span class="hidden-xs hidden-sm">Informationen bearbeiten</span></a></li>
          <li> 
            <h2 class="deine-teams">Deine Teams</h2>
          </li>
          <li> <a href="#" class="profil-sidebar"><img src="http://www.keita-gaming.com/assets/profile/default-avatar-c5d8ec086224cb6fc4e395f4ba3018c2.jpg"><span class="hidden-xs hidden-sm">Team 1</span></a></li>
        </ul>
      </div>
    </div>
</template>



<template name="publicclubprofile">
    
    <div id="page-wrapper">
    <div class="row">
        <div class="col-lg-8">
      <h1 class="page-header">Club name</h1>
        </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
          
              
          
          
          <div class="row mailbox-wrapper">

<div class="col-sm-12">

    <div class="row">
        



    <div class="example-box-wrapper">
        
        <div class="tab-content">
            
            <div class="tab-pane pad0A fade active in" id="tab-example-4">
                <div class="content-box">
                    
                    
    <div class="row">
      <div class="col-lg-8">
        <div class="panel panel-default"><img src="img/bayern_muenchen_team.jpg" class="profil-team-photo"></div>
        <h1 class="page-header">Upcoming Events</h1>
        <div class="panel panel-default">
          <div class="panel-body">
            <div id="dataTables-example_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
              <div class="row">
                <div class="col-sm-12">
                  <table id="dataTables-example" role="grid" aria-describedby="dataTables-example_info" width="100%" style="width: 100%" class="table table-striped table-bordered table-hover dataTable no-footer dtr-inline collapsed">
                    <thead>
                      <tr role="row">
                        <th class="sorting_asc">sport type</th>
                        <th class="sorting">date</th>
                        <th class="sorting">time</th>
                        <th class="sorting">home team</th>
                        <th class="sorting">guest team</th>
                        <th class="sorting">division</th>
                        <th class="sorting">city</th>
                      </tr>
                    </thead>
                    <tbody>  
                      <tr class="odd gradeX">
                        <td>soocer</td>
                        <td>18.10.2016</td>
                        <td>14:00</td>
                        <td>FC Bayern München</td>
                        <td>FC Schalke 04</td>
                        <td>1. Bundesliga</td>
                        <td>München</td>
                      </tr>
                      <tr class="even gradeC">
                        <td class="sorting_1">volleyball</td>
                        <td>19.10.2016</td>
                        <td>16:00</td>
                        <td>VfB Stuttgart</td>
                        <td>SV Werder Bremmen</td>
                        <td>Regionalliga</td>
                        <td>Stuttgart</td>
                      </tr>
                      <tr class="odd gradeX">
                        <td class="sorting_1">table tennis</td>
                        <td>20.10.2016</td>
                        <td>18:00</td>
                        <td>TSG 1845 Heilbronn</td>
                        <td>SV Neckarsulm    </td>
                        <td>Regionalliga</td>
                        <td>Heilbronn</td>
                      </tr>
                      <tr class="even gradeC">
                        <td class="sorting_1">tennis</td>
                        <td>23.10.2016</td>
                        <td>14:00</td>
                        <td>VfB Stuttgart</td>
                        <td>SV Werder Bremmen</td>
                        <td>Verbandsliga</td>
                        <td>Stuttgart</td>
                      </tr>
                      <tr class="odd gradeX">
                        <td class="sorting_1">rugby</td>
                        <td>30.10.2016</td>
                        <td>11:00</td>
                        <td>Red Bull Hornets</td>
                        <td>Powerade Bulls</td>
                        <td>2. Bundesliga</td>
                        <td>Dresden</td>
                      </tr>
                      <tr class="even gradeC">
                        <td class="sorting_1">handball</td>
                        <td>02.11.2016</td>
                        <td>16:00</td>
                        <td>TSG Göppingen</td>
                        <td>SV Ultra Heidelberg</td>
                        <td>Regionalliga</td>
                        <td>Göppingen</td>
                      </tr>
                      <tr class="odd gradeX">
                        <td class="sorting_1">soocer</td>
                        <td>18.10.2016</td>
                        <td>14:00</td>
                        <td>FC Bayern München</td>
                        <td>FC Schalke 04</td>
                        <td>1. Bundesliga</td>
                        <td>München</td>
                      </tr>
                      <tr class="even gradeC">
                        <td class="sorting_1">volleyball</td>
                        <td>19.10.2016</td>
                        <td>16:00</td>
                        <td>VfB Stuttgart</td>
                        <td>SV Werder Bremmen</td>
                        <td>Regionalliga</td>
                        <td>Stuttgart</td>
                      </tr>
                      <tr class="odd gradeX">
                        <td class="sorting_1">table tennis</td>
                        <td>20.10.2016</td>
                        <td>18:00</td>
                        <td>TSG 1845 Heilbronn</td>
                        <td>SV Neckarsulm    </td>
                        <td>Regionalliga</td>
                        <td>Heilbronn</td>
                      </tr>
                      <tr class="even gradeC">
                        <td class="sorting_1">tennis</td>
                        <td>23.10.2016</td>
                        <td>14:00</td>
                        <td>VfB Stuttgart</td>
                        <td>SV Werder Bremmen</td>
                        <td>Verbandsliga</td>
                        <td>Stuttgart</td>
                      </tr>
                      <tr class="odd gradeX">
                        <td class="sorting_1">rugby</td>
                        <td>30.10.2016</td>
                        <td>11:00</td>
                        <td>Red Bull Hornets</td>
                        <td>Powerade Bulls</td>
                        <td>2. Bundesliga</td>
                        <td>Dresden</td>
                      </tr>
                      <tr class="even gradeC">
                        <td class="sorting_1">handball</td>
                        <td>02.11.2016</td>
                        <td>16:00</td>
                        <td>TSG Göppingen</td>
                        <td>SV Ultra Heidelberg</td>
                        <td>Regionalliga</td>
                        <td>Göppingen</td>
                      </tr>
                      <tr class="odd gradeX">
                        <td class="sorting_1">soocer</td>
                        <td>18.10.2016</td>
                        <td>14:00</td>
                        <td>FC Bayern München</td>
                        <td>FC Schalke 04</td>
                        <td>1. Bundesliga</td>
                        <td>München</td>
                      </tr>
                      <tr class="even gradeC">
                        <td class="sorting_1">volleyball</td>
                        <td>19.10.2016</td>
                        <td>16:00</td>
                        <td>VfB Stuttgart</td>
                        <td>SV Werder Bremmen</td>
                        <td>Regionalliga</td>
                        <td>Stuttgart</td>
                      </tr>
                      <tr class="odd gradeX">
                        <td class="sorting_1">table tennis</td>
                        <td>20.10.2016</td>
                        <td>18:00</td>
                        <td>TSG 1845 Heilbronn</td>
                        <td>SV Neckarsulm    </td>
                        <td>Regionalliga</td>
                        <td>Heilbronn</td>
                      </tr>
                      <tr class="even gradeC">
                        <td class="sorting_1">tennis</td>
                        <td>23.10.2016</td>
                        <td>14:00</td>
                        <td>VfB Stuttgart</td>
                        <td>SV Werder Bremmen</td>
                        <td>Verbandsliga</td>
                        <td>Stuttgart</td>
                      </tr>
                      <tr class="odd gradeX">
                        <td class="sorting_1">rugby</td>
                        <td>30.10.2016</td>
                        <td>11:00</td>
                        <td>Red Bull Hornets</td>
                        <td>Powerade Bulls</td>
                        <td>2. Bundesliga</td>
                        <td>Dresden</td>
                      </tr>
                      <tr class="even gradeC">
                        <td class="sorting_1">handball</td>
                        <td>02.11.2016</td>
                        <td>16:00</td>
                        <td>TSG Göppingen</td>
                        <td>SV Ultra Heidelberg</td>
                        <td>Regionalliga</td>
                        <td>Göppingen</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
        
        <div class="col-lg-4">
        <div class="panel panel-default">
          <div class="panel-heading"><i class="fa fa-info fa-fw"> </i><span>Information</span></div>
          <div class="panel-body">
            <div class="list-group"><a href="#" class="list-group-item"><i class="fa fa-user fa-fw"> </i><span>Name</span><span class="pull-right text-muted small">FC Bayern München</span>
                <div class="clearfix"></div></a><a href="#" class="list-group-item"><i class="fa fa-map-marker fa-fw"> </i><span>Event location</span><span class="pull-right text-muted small">Werner-Heisenberg-Allee 25, 80939 München, Deutschland</span>
                <div class="clearfix"></div></a><a href="#" class="list-group-item"><i class="fa fa-envelope fa-fw"> </i><span>Contact</span><span class="pull-right text-muted small">bayern.muenchen@example.com</span>
                <div class="clearfix"></div></a><a href="#" class="list-group-item"><i class="fa fa-globe fa-fw"> </i><span>Website</span><span class="pull-right text-muted small">www.fcbayern.com</span>
                <div class="clearfix"></div></a></div>
          </div>
        </div>
      </div>
    </div>
                    
            </div>
        </div>
    </div>

</div>
        </div>

</div>
          
          
          
          
          
          
          
          
          
          
          
          
          
          
      </div>
    </div>
  </div>
          </div>
    
    
    
    
    

</template>