<template name="userprofile">

  {{> navbar}} 
  {{> usersidebar}} 
  {{> userprofiledetails}}
  
</template>

<template name="userprofiledetails">
  <div id="page-wrapper">
    <div class="row">
      <h1 class="page-header">{{user.name}}</h1>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <p>User profile information will exist here.</p>
      </div>
    </div>
  </div>
</template>

<template name="usersidebar">
  <div role="navigation" class="navbar-default sidebar">
    {{! sidebar for user here }}
  </div>
</template>

<template name="edituserprofile">
  <div role="navigation" class="navbar-default sidebar">
    {{! edit user profile here }}
  </div>
</template>