<template name="userprofile"> 
  {{> usernavbar}}
  {{> usersidebar}}
  {{> editprofiledetails}}
  
</template>
<template name="editprofiledetails">
  <div id="page-wrapper">
    <div class="row">
      <h1 class="page-header">{{{user.name}}}</h1>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="row mailbox-wrapper">
          <div class="col-sm-12">
            <div class="row">
              <div class="example-box-wrapper">
                <div class="tab-content">
                  <div class="tab-pane pad0A fade active in" id="tab-example-4">
                    <div class="content-box">
                      <form class="form-horizontal pad15L pad15R bordered-row">
                        <div class="form-group remove-border">
                          <label class="col-sm-3 control-label">First Name:</label>
                          <div class="col-sm-6">
                            <input type="text" class="form-control" id="" placeholder="First name..."> </div>
                        </div>
                        <div class="form-group">
                          <label class="col-sm-3 control-label">Last Name:</label>
                          <div class="col-sm-6">
                            <input type="text" class="form-control" id="" placeholder="Last name..."> </div>
                        </div>
                        <div class="form-group">
                          <label class="col-sm-3 control-label">Favorite sport:</label>
                          <div class="col-sm-6">
                            <input type="text" class="form-control" id="" placeholder="Last name..."> </div>
                        </div>
                        <div class="form-group">
                          <label class="col-sm-3 control-label">Email:</label>
                          <div class="col-sm-6">
                            <input type="text" class="form-control" id="" placeholder="Email address..."> </div>
                        </div>
                        <div class="form-group">
                          <label class="col-sm-3 control-label">Website:</label>
                          <div class="col-sm-6">
                            <input type="text" class="form-control" id="" placeholder="Website..."> </div>
                        </div>
                        <div class="form-group">
                          <label class="col-sm-3 control-label">About me:</label>
                          <div class="col-sm-6">
                            <textarea name="" rows="3" class="form-control textarea-autosize"></textarea>
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="col-sm-3 control-label">Profile Picture:</label>
                          <div class="col-sm-6">
                            <div class="fileinput fileinput-new" data-provides="fileinput">
                              <div class="fileinput-preview thumbnail" data-trigger="fileinput" style="width: 200px; height: 150px;"></div>
                              <div> <span class="btn btn-default btn-file">
                                        <span class="fileinput-new">Select image</span> <span class="fileinput-exists">Change</span>
                                <input type="file" name="..."> </span> <a href="#" class="btn btn-default fileinput-exists" data-dismiss="fileinput">Remove</a> </div>
                            </div>
                          </div>
                        </div>
                      </form>
                      <div class="button-pane mrg20T">
                        <button class="btn btn-info">Save</button>
                        <button class="btn btn-link font-gray-dark">Cancel</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<template name="usersidebar">
  <div role="navigation" class="navbar-default sidebar">
    <div class="sidebar-nav navbar-collapse">
      <ul id="side-menu" class="nav in">
        <li class="sidebar-search">
          <div class="input-group custom-search-form"><img class="img-profile" src="http://www.keita-gaming.com/assets/profile/default-avatar-c5d8ec086224cb6fc4e395f4ba3018c2.jpg"></div>
        </li>
      </ul>
    </div>
  </div>
</template>

<template name="userprofiledetails">

</template>


<template name="usernavbar">
    
    <nav role="navigation" class="navbar navbar-default navbar-static-top">
    
    <div class="navbar-header">
      <img src="img/spielwinkel_logo.svg" class="navbar-brand" />
      <button type="button" data-toggle="collapse" data-target=".navbar-collapse" class="navbar-toggle"><span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    
    <div class="col-sm-5 col-md-5">
      <form role="search" class="navbar-form">
        <div class="input-group">
          <input type="text" placeholder="Direktsuche (Verein, Stadt, Datum etc.)" name="search" class="form-control search-bar" />
          <div class="input-group-btn">
            <button type="submit" class="btn-default"><i aria-hidden="true" class="fa fa-search"></i></button>
          </div>
        </div>
      </form>
    </div>
    
    <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/home" role="button">Home</a></li>
            <li><a href="#">My Teams</a></li>
            <li><a href="/club">Add Team</a></li>
            <li><a href="/user">Profile Name</a></li>
            <li><a href="#"><i aria-hidden="true" class="fa fa-power-off fa-lg"></i></a></li>
          </ul>
        </div>
    </nav>
<!--
    <ul class="nav navbar-top-links navbar-right in">
      {{#if currentUser}}
        <li>  
          <a href="/home" role="button" class="btn btn-registrieren">Home</a>
        </li>
        <li>  
          <a href="/club" role="button" class="btn btn-registrieren">Create Club</a>
        </li>
        <li>  
          {{> logoutButton}}
        </li>
      {{else}}
        <li>
          {{> login}}          
        </li>
      {{/if}}
    </ul>

  </nav>
    
-->

</template>


