<template name="privacy"> 
  {{> privacy}}

</template>

<template>
    <div class="terms">
        <h1>Datenschutzerklärung</h1>
        <p>von</p>
        <p>spielwinkel <br>
        Marsstraße 82 <br>
            80335 München <br>
            Telefon: +49 (0) 152 551 467 00
            E-Mail: info@spielwinkel.de
            Internet: www.spielwinkel.de
        </p>
        
        <p>im Folgenden „spielwinkel“ oder „wir“</p>
        
        <p>Wir nehmen den Schutz Ihrer persönlichen Daten sehr ernst und halten uns strikt an die Regeln der Datenschutzgesetze. Mit dieser Erklärung geben Sie uns Ihr Einverständnis dafür, dass spielwinkel Ihre nachstehend aufgeführten personenbezogenen Daten zu den hier genannten Zwecken erheben, verarbeiten und nutzen darf. Diese Einwilligung kann jederzeit mit Wirkung für die Zukunft widerrufen werden.</p>
        
        
    </div>

</template>