<template name="imprint"> 
  {{> imprintdetails}}
  {{> footer}}
    

</template>

<template name="imprintdetails">
<div class="pn-body">
    <div class="centerBox">
        <div class="head">
            <a href="/"><img src="img/spielwinkel_logo.svg"></a>
        </div>
        <div class="body text-block">
            <p>spielwinkel ist ein Produkt von BRANDECHT.</p>
            <p>Marsstraße 72<br>
                80335 München <br>
                Deutschland <br>
            </p>
            <p>Besitzer: Patrick Dudek</p>
            <p>hilfe@spielwinkel.de</p>
            <p>Telefon: +49 (0) 152 55 136 700</p>
            
        
        </div>
    
    </div>
    
    
</div>

</template>