<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Login | SpielWinkel.com</title>
  
</head>

<body>
  
  {{> logIn}}    

  
</body>



<template name="logIn">
    <div class="row centerBox">
        <div class="col-md-4 col-md-offset-4">
            <div class="login panel panel panel-default">
                <div class="panel-heading">
                    <a href="index.html"><img src="img/spielwinkel_logo.svg"></a>
                </div>
                <div class="panel-body">
                    <form>
                        <fieldset>
                            <div class="hr-with-text"><span>Anmelden   </span></div>
                            <div class="form-group">
                                <input placeholder="E-mail" type="email" name="email" class="form-control"> </div>
                            <div class="form-group">
                                <input placeholder="Passwort" type="password" name="password" class="form-control"> </div><a class="btn btn-lg btn-succes btn-block">Anmelden  </a>
                            <div class="hr-with-text"><span>oder </span></div>
                            <a class="btnFacebook btn-lg btn-succes btn-block">
                                <div class="btnFacebook-inside"><i aria-hidden="true" class="fa fa-facebook-square pull-left"> </i>
                                    <p>Registriere dich mit facebook</p>
                                </div>
                            </a>
                            <div class="checkbox">
                                <label>
                                    <input name="remember" type="checkbox" value="Remember me">
                                    <p>I accept the Privacy Policy and Terms and Conditions of spielwinkel.</p>
                                </label>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div><a href="login.html" class="AlAcc">Du hast noch kein Konto? Jetzt registrieren!</a> </div>
    </div>
</template>