<template name="addevent">
  {{> navbar}} 
  {{> eventsidebar}} 
  {{> eventdetails}}
</template>

<template name="eventdetails">
  <div id="page-wrapper">
    <div class="row">
      <h1 class="page-header">{{{club.name}}}</h1>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <p>User profile information will exist here.</p>
      </div>
    </div>
  </div>
</template>

<template name="eventsidebar">
  <div role="navigation" class="navbar-default sidebar">
    {{! sidebar for clubs here }}
  </div>
</template>

<template name="editevent">
  <div role="navigation" class="navbar-default sidebar">
    {{! edit user profile here }}
  </div>
</template>