<template name="login-spielwinkel">
  {{> loginspielwinkelcontent}} 
</template>

<template name="loginspielwinkelcontent">
<div class="loginfield">
	<div class="table">
		<div class="table-cell">
			<div class="content">
				<ul class="content-inside">
					<li><img src="img/spielwinkel_logo.svg"></li>
					<li class="hl-login">login</li>
					<li class="switch-login">Need a spielwinkel account?&nbsp;<a class="forgot" href="#">Create an account</a></li>
					<li class="form-group-hl">Username</li>
					<li class="form-group">
						<input type="username" class="form-control" id="email">
					</li>
					<li class="form-group-hl">Password</li>
                    <li class="form-group password">
						<input type="username" class="form-control" id="password">
					</li>
					<li>
                        <button type="button" class="btn btn-primary">log in</button>
                    </li>
                    <li class="alignc">
                        <a class="forgot" href="#">Forgot username?</a>&nbsp;&middot;&nbsp;
                        <a class="forgot" href="#">Forgot password?</a>
                    </li>
                    <li>
                        <p class="login-rights">© 2017, spielwinkel, All rights reserved! <a class="forgot" href="/privacy"> Datenschutz</a> &  <a class="forgot" href="/imprint">Impressum</a></p>
                    </li>
				</ul>
			</div>
		</div>
		
	</div>

</div>
    
<div class="adfield">
    <div class="ad-container">
        <img src="img/adpic4.jpg">
    </div>
</div>   
</template>

